footer {
    margin-top: 5%; 
    .boton-instagram {
        margin-bottom: 3%;
        text-align: center;
        position: relative;
        bottom: 5%;
        top: 5%;
        color: $main-purple; 
    }
    a {
        &:hover{
            opacity: .7;
        }
        &:active{
            color: $main-teal;
        }
        &:visited{
            color: $visited-color;
        }
    }
}

