// mixin import
@import "../base/mixins";

header {
    margin-top: 3%;
}

.logo {
    &:hover {
        transform: rotateY(360deg) scale(1.2);
        transition: all 2s ease-out;
        -webkit-transform: rotateY(360deg) scale(1.2);
        -o-transform: rotateY(360deg) scale(1.2);
        -moz-transform: rotateY(360deg) scale(1.2);
    }
    transform: rotateY (0) scale (0);
    transition: transform 2s; 
}

.logo-container {
    display: flex;
    justify-content: end;
    @media screen and (max-width:480px){
        display: flex;
        justify-content: center;
    }
    @media screen and (min-width:481px) and (max-width:960px){
        display: flex;
        justify-content: center;
    }
}

.nombre-empresa-container {
    display: flex;
    justify-content: start;
    align-items: end;
    @media screen and (max-width:480px){
        display: flex;
        justify-content: center;
    }
    @media screen and (min-width:481px) and (max-width:960px){
        display: flex;
        justify-content: center;
    }
}


.nombre-empresa {
    @include font-style ($main-purple, $poppins, 2rem, 500, none, center);
}

.animate__flipInX {
    animation-duration: 2s;
    animation-delay: 0.3s;
}

.header-icon {
    display: flex;
    justify-content: flex-end;
    margin:0.8em 2em;
    a {
        color: $main-purple;
        text-decoration: none;
        margin: 0.5em;
    }
}

.menu {
    @extend%flex-center;
    ul {
        @media screen and (max-width:480px){
            display: block;
        }
        @media screen and (min-width:481px) and (max-width:960px){
            display: block;
        }
    }
}

ul {
    display:flex;
    justify-content: space-around;
    width: 1000px;
    li {
        list-style: none;
        margin-bottom: 2%;
    }
}

li {
    a {
        text-decoration: none;
        @include font-style ($lighter-purple, $poppins, 0.9rem, none, none, none);
        &:hover{
            color: rgb(186, 167, 190);
            background-color: $lighter-teal;
            padding: 10px;
            font-weight: 500;
            border-radius: 5%;
        }
        &:active{
            background-color: $main-purple;
        }
        &:visited{
            color: $visited-color;
        }
    }
}

// carrusel
.carousel {
    margin: 0 auto;
}