@import "../base/mixins";
@import "../base/extends";

main {
    margin-left: 1%;
    margin-right: 1%;
    section {
        h2 {
            @media screen and (max-width:480px){
                color: rgb(8, 153, 158);
                font-size: 12px;
            }
            @media screen and (min-width:481px) and (max-width:960px){
                color: $visited-color;
                font-size: 14px;
            }
        }
        p .precio{
            @media screen and (max-width:480px){
                color: $visited-color;
                font-size: 12px;
            }
            @media screen and (min-width:481px) and (max-width:960px){
                color: rgb(8, 153, 158);
                font-size: 13px;
            }
        }
    }
}

h1, h2 {
    margin-top: 2%;
    @include font-style ($main-purple, $poppins, 1.5rem, 400, none, none);
}

p {
    @include font-style ($lighter-purple, $poppins, none, 400, none, none);
}

.form-label {
    @include font-style ($lighter-purple, $poppins, none, 400, none, none);
}

.form-control {
    @include font-style($main-teal, $poppins, none, 300, none, none);
}

.form-select {
    @include font-style($main-teal, $poppins, 1em, 300, none, none);
}

// index main 
//review-section
.bi-person-square, .nombre-cliente {
    color: $main-teal;
}

.bi-star-fill{
    color: #e0e11e;
}

.card-text {
    font-size: 1.1em;
    font-style: italic;
}

.card {
    margin: 5%;
    background-color: transparent;
    border: transparent;
}

.card-body {
    &:hover {
        transition: all 2s;
        transform: translateY(-25px);
        animation: color-change 1s;
    }
    background: rgb(60,160,162);
    background: linear-gradient(0deg, rgba(60,160,162,1) 0%, rgba(140,94,171,0.87718837535014) 100%);
    border-radius: 2%;
    transform: translateY (0);
    transition: transform 2s;
}
    

// servicios main

.accordion-button{
    @include font-style ($main-purple, $poppins, 1.5rem, 400, none, none);
}

.accordion-button, .accordion-body {
    background-color: #c5a5f1;
}

.accordion-item, .accordion {
    background-color: $main-purple;
    border-radius: 5%;
}

.accordion {
    width: 80%;
    margin: 5% auto;
    margin-bottom: 5%;
}


// productos main

.titulo-pagina {
    margin-bottom: 2.5%;
    @include font-style ($main-teal, $poppins, 1.5rem, 400, none, center);
}

.img-fluid {
    margin: 7%;
    border-radius: 5%;
    opacity: 0.8;
    transition: 0.3s;
    box-shadow: 7px 5px 5px $lighter-purple;
    &:hover {
        opacity: 1;
    }
}

.titulo-pagina {
    &:hover{
        transition: all 2s;
        transform: translateY(-20px);
        animation: color-change 1s;
    }
    transform: translateY (0);
    transition: transform 2s;
}


@keyframes color-change {
    15% {
        color: $lighter-purple;
    }
    15% {
        font-style: italic;
    }
    60% {
        color: #c5a5f1;
    }
}

.productos {
    @include font-style ($main-teal, $poppins, 1.5rem, 300, none, none);
}

.precio {
    @include font-style ($lighter-purple, $poppins, 1rem, 400, italic, none);
}

// Sedes main

.mapas {
    margin: 0 auto;
    border: 2px solid $main-teal;
    @extend%flex-center;

    @media screen and (max-width:480px){
        width: 75%;
    }
    @media screen and (min-width:481px) and (max-width:960px){
        width: 50%;
    }
}

.sedes {
    @include font-style ($lighter-purple, $poppins, 1.5rem, 300, none, none);
    @extend%flex-center;
}


// galeria main 

.gallery-img {
    display: grid;
    grid-template-rows: 220px 220px;
    grid-template-columns: 220px 220px 220px 220px;
    justify-content: center;
    margin-top: 80px;
    .grid-item {
        padding: 2%;
    }
    @media screen and (max-width:480px){
        display: grid;
        grid-template-rows: 100px 100px 100px 100px;
        grid-template-columns: 100px 100px;
        justify-content: center;
        margin-top: 3%;
    }
    @media screen and (min-width:481px) and (max-width:960px){
        display: grid;
        grid-template-rows: 150px 150px 150px 150px;
        grid-template-columns: 150px 150px;
        justify-content: center;
        margin-top: 3%;
    }
}

.grid-item {
    border-radius: 50%;
    &:hover{
        transform: scale(1.5);
        transition: all 1.5s;
    }
    transform: scale (0);
    transition: transform 1.5s;
}


//nosotros main

.col-6 {
    margin-top: 3%;
    text-align: justify;
    display: flex;
    align-items: center;
}

.nosotros-text, .card-img-top {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 250%;
    }
    
    to {
        margin-left: 0%;
        width: 100%;
    }
}

//contacto main

.contacto-subtitle {
    text-align: center;
}
.form-label {
    justify-content: start;
}
.btn, .btn-primary {
    background-color: $main-teal;
}

//trabaja con nosotros main

.work-requirements {
    font-style: none;
}

.trabajo-card, .card {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.trabajo {
    animation-duration: none;
    animation-name: none;
    &:hover {
        transition: all 2s;
        transform: translateX(3%);
    }
    transform: translateX (0);
    transition: transform 2s;
}